<!-- ----------------------------  Navigation ---------------------------------------------- -->
<nav class="nav">
    <div class="nav-menu flex-row ">
        <div class="nav-brand">
            <a href="#" class="text-gray">Virtual Library</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                
                <form action="/viewbook">
                    <li class="nav-link bc">
                        <input class="form" type="search" name="title" placeholder="Search for Books" aria-label="Search" value="<%= searchOptions.title %>">
                    </li>
                    <li class="nav-link bc">
                        <button class=" btn-outline-success" type="submit">Search</button>
                    </li>
                </form>
                <li class="nav-link ab">
                    <a href="/">Home</a>
                </li>
                <% if(admin){ %>
                     <li class="nav-link ab">
                        <a href="/dashboard/addbook">Add Book</a>
                    </li>
                <% } %> 
                <li class="nav-link ab">
                    <a href="/viewbook">Books We serve</a>
                </li>
                <li class="nav-link foot ab">
                    <a id="abc">About Us</a>
                </li>
                <li class="nav-link ab">
                    <a id="abc" href="/dashboard/profile">Profile</a>
                </li>
                <li class="nav-link ab">
                    <a id="abc" href="/logout">Log Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ------------x---------------  Navigation --------------------------x------------------- -->

<!----------------------------- Main Site Section ------------------------------>

<main>
    <!-- --------------------- Blog Carousel ----------------- -->

    <section>
        <div class="blog">
            <div class="container">
                <div class="owl-carousel owl-theme blog-post">
                    <% let i=0 %> 
                    <% books.forEach(book=>{ %>
                        <% i++ %> 
                        <div class="blog-content" data-aos="fade-right" data-aos-delay="200">
                            <% const bookoid = "/viewbook/type1/"+book._id %> 
                            
                            <a href=<%= bookoid %> ><img class="book-cover" src="<%= book.coverImagePath  %> " alt="post-1"></a>
                            <div class="blog-title">
                                <h3><%= book.title %> At Trending#<%= i %></h3>
                            </div>
                        </div>
                    <% }) %> 
                <div class="owl-navigation">
                    <span class="owl-nav-prev"><<</span>
                    <span class="owl-nav-next">>></span>
                </div>
            </div>
        </div>
    </section>

    <!-- ----------x---------- Blog Carousel --------x-------- -->

    <!-- ---------------------- Site Content -------------------------->

    <section class="container">
        <div class="site-content">
            <div class="posts">
                <% locals.user.books.forEach(book => {%>
                    <div class="post-content" data-aos="zoom-in" data-aos-delay="200">
                        <div class="post-image">
                            <div>
                                <img src="<%= book.coverImage%>" class="img" alt="blog1">
                            </div>
                            <div class="post-info flex-row">
                                <% let userid %> 
                                <% if(locals.user.username){ %>
                                    <% userid = locals.user.username %> 
                               <% } else { %>
                                    <% userid = locals.user.firstName %> 
                               <% } %> 
                                <a href="/room/<%= book.bookid %>?uid=<%= userid %>&&hassub=<%= false %>&&room=<%= book.title %>"><span><i class="fas fa-user text-gray"></i>&nbsp;&nbsp;<%= book.title %> </span></a>
                                
                            </div>
                        </div>
                    </div>
                <%}); %> 
                
                

            </div>
            <aside class="sidebar">
                <div class="category">
                    <h2>Categories</h2>
                    <ul class="category-list">
                        <% categories.forEach(category=>{ %>
                            <li class="list-items" data-aos="fade-left" data-aos-delay="100">
                                <a href="/viewbook/category/<%= category.category %> "><%= category.category %></a>
                                <span>(<%= category.count %> )</span>
                            </li>    
                        <% }) %> 
                        
                    </ul>
                </div>

            </aside>
        </div>
    </section>

    <!-- -----------x---------- Site Content -------------x------------>

</main>

<!---------------x------------- Main Site Section ---------------x-------------->


<!-- --------------------------- Footer ---------------------------------------- -->

<footer class="footer" id="footer">
    <div class="container">
        <div class="about-us" data-aos="fade-right" data-aos-delay="200">
            <h2>About us</h2>
            <p>This is Team Big Coders which came up with a brilliant idea to create a plateform that could be used as virtual
                Library and people can join with others to read the books we provide. Over that this would eleminate the agony that
                we are not able to visit the actual library and read some stuffs there.
            </p>
        </div>
        <div class="newsletter" data-aos="fade-right" data-aos-delay="200">
            <h2>Subscribe</h2>
            <p>Stay update with our latest</p>
            <div class="form-element">
                <input type="text" placeholder="Email"><span><i class="fas fa-chevron-right"></i></span>
            </div>
        </div>
        <div class="follow" data-aos="fade-left" data-aos-delay="200">
            <h2>Follow us</h2>
            <p>Let us be Social</p>
            <div>
                <i class="fab fa-facebook-f"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-instagram"></i>
                <i class="fab fa-youtube"></i>
            </div>
        </div>
    </div>
    <div class="move-up">
        <span><i class="fas fa-arrow-circle-up fa-2x"></i></span>
    </div>
    
</footer>