<div class="container">
    <div class="wrapper animated bounceInLeft">
      <div class="book-info">
        <ul>
          <li class="nav-link">
            <a href="/dashboard">HOME</a>
        </li>
        <li class="nav-link">
          <a href="/dashboard/profile">PROFILE</a>
      </li>
      <li class="nav-link">
        <a href="/viewbook">ADDED BOOKS</a>
    </li>
        </ul>
      </div>
      <div class="contact">
        <h3>Book Detail</h3>
        <form>
          <p>
            <label>Book Name</label>
            <h2><%= book.title %></h2>
          </p>
          <p>
            <label>Category</label>
            <h2><%= book.category %></h2>
          </p>
          <p>
            <label>Page Count</label>
            <h2><%= book.pageCount %></h2>
          </p>
          <p class="full">
            <label>Description</label>
            <p id="description"><%= book.description %>
            </p>
          </p>
          <span>
            <% if(subscribed) { %>
              <a id="btn" href="/viewbook/unsubscribe/<%= book._id %>">UnSubscribe</a>
          <% } else { %>
            <% let userid %> 
            <% if(locals.user.username){ %>
                <% userid = locals.user.username %> 
           <% } else { %>
                <% userid = locals.user.firstName %> 
           <% } %> 
            <a href="/viewbook/subscribe/<%= book._id %>?uid=<%= userid %>&&hassub=<%= true %>&&room=<%= book.title %>">Subscribe</a>
          <% } %>
        </span>
        </form>
      </div>
    </div>
  </div>