<div class="container">
    <div class="wrapper animated bounceInLeft">
      <div class="book-info">
        <ul>
          <li class="nav-link">
            <a href="/dashboard">HOME</a>
        </li>
        <li class="nav-link">
          <a href="/dashboard/profile">PROFILE</a>
      </li>
      <li class="nav-link">
        <a href="/viewbook">ADDED BOOKS</a>
    </li>
        </ul>
      </div>
      <div class="contact">
        <h3>Book Detail</h3>
        <form>
          <h3>
            <span>Book Name:</span>
            <%= book.title %>
          </h3>
          <h3>
            <span>Category:</span>
            <%= book.category %>
          </h3>
          <h3>
            <span>Page Count:</span>
            <%= book.pageCount %>
          </h3>
          <h3 class="full">
            <span>Description:</span>
            <%= book.description %>
          </h3>
          <span>
            <% if(subscribed) { %>
              <a id="btn" href="/viewbook/unsubscribe/<%= book._id %>">UnSubscribe</a>
          <% } else { %>
            <% let userid %> 
            <% if(locals.user.username){ %>
                <% userid = locals.user.username %> 
           <% } else { %>
                <% userid = locals.user.firstName %> 
           <% } %> 
            <a id="btn" href="/viewbook/subscribe/<%= book._id %>?uid=<%= userid %>&&hassub=<%= true %>&&room=<%= book.title %>" style="text-decoration:none ;">Subscribe</a>
          <% } %>
        </span>
        </form>
      </div>
    </div>
  </div>