<!-- ----------------------------  Navigation ---------------------------------------------- -->
<nav class="nav">
    <div class="nav-menu flex-row ">
        <div class="nav-brand">
            <a href="#" class="text-gray">Virtual Library</a>
        </div>
        <div class="toggle-collapse">
            <div class="toggle-icons">
                <i class="fas fa-bars"></i>
            </div>
        </div>
        <div>
            <ul class="nav-items">
                <li class=" abc">
                    <div class="dropdown">
                        <button class="btn-outline-success">Filter</button>
                        <div class="dropdown-content">
                            <label class="container">Category
                                <input type="checkbox" checked="checked">
                                <span class="checkmark"></span>
                              </label>
                        </div>
                      </div>
                    
                </li>
                <li class="nav-link bc">
                    <input class="form" type="search" placeholder="Search" aria-label="Search">
                </li>
                <li class="nav-link bc">
                    <button class=" btn-outline-success" type="submit">Search</button>
                </li>
                <li class="nav-link ab">
                    <a href="/">Home</a>
                </li>
                
                <li class="nav-link ab">
                    <a href="/dashboard/profile">Profile</a>
                </li>

                <li class="nav-link ab">
                    <% if(locals.user) { %>
                        <li class="nav-link"><a href="/logout">Logout</a></li>
                      <% } else { %>
                        <li class="nav-link"><a href="/login">Login</a></li>
                      <% } %>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- ------------x---------------  Navigation --------------------------x------------------- -->


<table>
    <thead>
        <tr>
        <th>Book Name</th>
        <th>Category</th>
        <th>Page No.</th>
        <th>Subscribe</th>
        </tr>
    </thead>
    <tbody>
        <% if(fileused == "viewbook"){ %>
            <% books.forEach(book => { %>
                <tr>
                    <td><%= book.title %> </td>
                    <td><a href="/viewbook/category/<%= book.category %> "><%= book.category %></a></td>
                    <td><%= book.pageCount %></td>
                    
                    <td><button class="btn-outline-success" type="button" id="subscribe"><a href="/viewbook/type2/<%= book._id %> ">Details</a></button></td>
                    </tr>
            <%}) %> 
        <% }  else{ %> 

        
            <% books.forEach(book => { %>
                <tr>
                    <td><%= book.title %> </td>
                    <td><%= category %></td>
                    <td><%= book.pageCount %></td>
                    
                    <td><button class="btn-outline-success" type="button" id="subscribe"><a href="/viewbook/type2/<%= book.bookid %> ">Details</a></button></td>
                    </tr>
            <%}) %> 
        <% } %> 
        

        

    </tbody>
</table>


    
